body {
    font-size:0.9em;
    line-height:130%;
    font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; width: 100%; margin: 0; }

#container{
	height: 100%;
}

#header {
  /*background-image: url('../img/bg.png'); */
  /*background-position: center;*/
  background-color: #000;
  position: relative;
  top:0px;
  left:0px;
  margin:auto;
  z-index:100000; 
  display: flex;
  height: 12%;
}

#icon {
  height: 75px;
  top: 5%;
}

#content{
	display: flex;
	height: 85%;
}

#left{
	width: 80%;
	position: static;
	display: flex;
}

#plot {
  width: 85%;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
}

#channels {
  /*height: 20%;*/
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
}

.channel {
  height: 27%;
  text-align: center;
  display: flex;
}

.channel-icon{
  width: 80%;
}

.channel-icon img{
  margin-top: 20%;
  margin-left: 30%;
  width: 75%;
}

/*.channel-name {
  padding-top: 30px;
  font-weight: 700;
}*/

.channel-value {
  /*padding-top: 10px;*/
  font-weight: 300;
  margin-left: 30%;
}

/*#channels input[type=text] {
  text-align: center;
  width: 50px;
  background: rgba(0, 0, 0, .1);
  margin-top: 33px;
  padding: 5px;
  font-size:16px;
  font-weight:300;
  font-family: 'Roboto', sans-serif;
}

#channels input[type=text]:focus {
  background:rgba(0, 0, 0, .3);
}*/

.deltas{
  display: flex;
  height: 10%;
  margin-left:10%;
  /*display: block;*/
}

.deltas img{
  width: 15%;
}

.deltas input[type=text]{
  width: 30%;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
  margin-left: 5px;
}

#delta-hr{
  border: 1px solid #D60808;
}

#delta-flex{
  border: 1px solid #23E300;
}

#delta-eda{
  border: 1px solid #0077E3;
}

#delta-labels{
  display: flex;
  margin-left: 15%;
  margin-top: -8px;
}

.delta-label{
  margin-left: 22%;
  font-size: 8px;
}

.buttons-left {
  margin-top: 10px;
  width: 95%;
  text-align:center;
  height: 10%;
}
.buttons-left button {
    width: 100%;
    height: 100%;
    margin: 5px 15px;
    padding:5px 15px;
    background:rgba(0, 0, 0, .1);
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.buttons-left button:hover {
    background:rgba(0, 0, 0, .3);
}

#user {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  border-left: 1px solid;
  height: 95%;
  overflow-y: scroll;
  align-content: center;
  padding: 20px;
}
.user-elem {
  padding: 3px;
  /*margin-top: 5px;*/
  width: 100%;
  /*margin-left: 10px;*/
}

.user-label {
  font-size: 11px;
}

.recording{
    width: 100%;
    display: flex;
}
.recording img{
    height: 80px;
}

.record-buttons{
    width: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.big-button{
  width: 100%;
  height: 50%;
}

.small-record-buttons{
    display: flex;
    height: 75%;
    margin-top: 3%;
}
.small-record-buttons input [type=submit]{
    width: 50%;
    height: 100%;   
}

.small-button{
  width: 49%;
  height: 70%;
  margin: 1%;
}

.buttons-right {
  margin-top: 10px;
  width: 75%;
  text-align:center;
}
.buttons-right button {
    width: 100%;
    height: 100%;
    margin: 5px 15px;
    padding:5px 15px;
    background:rgba(0, 0, 0, .1);
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.buttons button:hover {
    background:rgba(0, 0, 0, .3);
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

select {
  width: 100px;
}

.recording-circle {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: rgba(0,0,0,0.1);
  /*float: right;*/
  margin: 20px 0px 0px 20px;
}

#bluetooth_help {
  padding: 5px;
}

#footer {
  background-color: #A94399; 
  position: relative;
  top:0px;
  left:0px;
  margin:auto;
  z-index:100000; 
  display: flex;
  height: 5%;
}

/*plot stuff*/

.line-flex {
  fill: none;
  stroke: #0B6623;
  stroke-width: 1.5px;
}

.line-hr {
  fill: none;
  stroke: #FF0000;
  stroke-width: 1.5px;
}
.axis-hr text{
  fill: #FF0000;
}

.line-eda {
  fill: none;
  stroke: #0000FF;
  stroke-width: 1.5px;
}
.axis-eda text{
  fill: #0000FF;
}

.circle-flex {
  fill: #fff;
  stroke: #0B6623;
  stroke-width: 3px;
}
.circle-hr {
  fill: #fff;
  stroke: #FF0000;
  stroke-width: 3px;
}
.circle-eda {
  fill: #fff;
  stroke: #0000FF;
  stroke-width: 3px;
}

.line-wakeup {
  fill: none;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 3px;
  stroke-dasharray: 10,10;
}

.rect-calibration {
  fill: rgba(0, 0, 0, 0.2);
  stroke: none;
}

.selectBoxArrow{
    margin-top: 8px;
    height: 75%;
    float: left;
    position: absolute;
    right: 0px;
  } 

.time-units{
  font-size: 20px;
  margin-left: 125px;
  margin-top: 40px;
}
  .selectBoxInput{
    /*border:0px;
    padding-left:1px;
    height:16px;
    position:absolute;
    top:0px;
    left:0px;*/

    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .selectBox{
    /*border:1px solid #7f9db9;*/
    float: left;
    position: relative;
    width: 50%;
    box-sizing: border-box;
  
  }

  .selectBoxOptionContainer{
    position:absolute;
    border:1px solid #7f9db9;
    /*height:100px;*/
    background-color:#FFF;
    /*left:-1px;*/
    top:50px;
    visibility:hidden;
    overflow:auto;
  }
  .selectBoxAnOption{
    font-family:Roboto;
    font-size:12px;
    cursor:default;
    margin:1px;
    overflow:hidden;
    white-space:nowrap;
  }
  .selectBoxIframe{
    position:absolute;
    background-color:#FFF;
    border:0px;
    z-index:999;
  } 

  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline;
}

.tooltip img{
  width: 5%;
  margin-left: 3px;
  margin-top: 2px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 100%;
  right: 20%;
  /*left: 20%; */
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index:100000; 
}