body {
    font-size:0.9em;
    line-height:130%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
	  background-image: url('../img/bg.png'); 
}

html, body { height: 100%; width: 100%; margin: 0; padding:0; }

/*=================
   scrollbar
*=================*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*=================
   atoms
*=================*/

input {
    background-color: transparent;
    border: 2px solid;
    /*height: 20px;*/
    /*width: 160px;*/
    color: #fff;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 5px;

}

input[type=submit] {
	  background-color: transparent;
    border: 2px solid;
    color: #fff;
    padding:5px 15px; 
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#container{
  height: 100%;
  width: 100%;
}

#header {
  position: relative;
  top: 0px;
  left: 0px;
  height: 12%;
  border-bottom: 0.3px solid white;
  display: flex;
  justify-content: space-between;
}

#icon {
  height: 100%;
  top: 5%;
}

#links{
	width: 10%;
	display: flex;
	margin-right: 2%;
}

#links img{
	width: 100%;
	padding: 1%;
}


#main{
	display: flex;
	width: 100%;
	height: 88%;
}

#opener{
	width: 2%;
	background-color: #000;
	height: 100%;
	cursor: pointer;
	border-left: 0.3px solid white;
	border-right: 0.3px solid white;
	display: flex;
	justify-content: center;
}

#opener img{
	width: 100%;
}

#content{
  display: flex;
  height: 100%;
  width: 98%;
  /*position: static;*/
}

#maintext{
  padding: 3% 0% 0% 0%;
  height: 60%;
  text-align: center;
}

#maintext h1, h2, h3{
  color: white;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 18px;
}

h3{
  font-size: 14px;
}

#maintext button{
  width: 30%;
  height: 25%;
  margin: 3% 2% 2% 0%;
  text-align: center;
  background: transparent;
  border: 2px solid white;
  cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#studies{
  /*padding: 5%;*/
  height: 25%;
  text-align: center;
}


#studies button{
  width: 20%;
  height: 25%;
  margin: 1% 0% 0% 0%;
  text-align: center;
  background: transparent;
  border: 1px solid white;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  color: white;
}

/*=================
   form stuff
*=================*/

.overlay {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgb(0,0,0);
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  /*overflow-y: scroll;*/

}

.overlay-content {
  width: 98%;
  height: 100%;
  overflow-y: scroll;
  background-image: url('../img/bg.png');
  position: relative;
  align-content: center;
  flex-direction: column;
  display: flex;
  padding: 5% 15% 5% 15%;
  color: white;
 }


#closer{
	width: 2%;
	height: 100%;
	right:0;
	background-color: #000;
	cursor: pointer;
	border-left: 0.3px solid white;
	border-right: 0.3px solid white;
	display: none;
}

#closer img{
	width: 100%;
}

.user-elem {
  margin: 2% 0% 2% 0%;
  width: 100%;
}

#dropdowns{
	font-size: 24px;
}

#dropdowns input{
	width: 10%;
	padding: 8px 0px 8px 20px;
	margin: 0px 3px 0px 3px;
	font-size: 30px;
	border-radius: 5px;
}

#dropdowns .user-elem{
	margin: 5% 0% 3% 0%;
}



/*=================
   recording stuff
*=================*/

.recording-container{
	display: flex;
	justify-content: space-between;
}

.recording-elem{
	width: 48%;
}

.recording-content input:hover[type="submit"]{
	background: rgba(255, 255, 255, 0.3);
}

.recording-content{
    width: 100%;
    display: flex;
    padding-top: 3%;
}
.recording-content img{
    width: 25%;
}

.recording-circle {
  height: 15px;
  width: 20px;
  border-radius: 15px;
  background: rgba(255,255,255,0.6);
  /*float: right;*/
  /*margin: 40px 0px 0px 20px;*/
}

.record-buttons{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.big-button{
  width: 100%;
  height: 60%;
  font-size:20px;
  font-style: 'Arimo';
  letter-spacing: 1px;
  background-color: rgba(255,255,255, 0.5);
}

.small-record-buttons{
    display: flex;
    height: 40%;
    padding-top: 1%;
}

.small-button{
    width: 100%;
    height: 100%; 
  	font-style: 'Arimo';
  	letter-spacing: 1px;
  	margin-top: 1%;
}

.small-left-button{
	margin-right: 0.5%;
}

.small-right-button{
	margin-left: 0.5%;
}

#start-button-container{
	height: 50%;
	padding: 1% 0% 1% 0%;
	margin-bottom: 5%;
	/*margin-bottom: 60px;*/
}

#start-button-container h3{
	padding: 0px;
}

#start_timer{
	padding: 15px;
	font-size: 20px;
	width: 100%;
}

/*================================
   countdown for time until sleep
*================================*/

.timer {
  width: 825px;
  height: 260px;
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 20%;
  color: white;
  overflow: hidden;
}

.timer * {
  cursor: default;
}

.timer h3 {
  width: 100%;
  font-size: 26px;
  letter-spacing: 4px;
  text-align: center;
}

.timer--clock {
  width: 100%;
  height: 100%;
  top: 50%;
  position: relative;
  padding-left: 6px;
  margin-top: -112px;
  overflow: hidden;
}
.timer--clock .clock-display-grp {
  width: 100%;
  position: relative;
}
.timer--clock .clock-display-grp .number-grp {
  width: auto;
  display: block;
  height: 156px;
  float: left;
  overflow: hidden;
}
.timer--clock .clock-display-grp .number-grp .number-grp-wrp {
  width: 100%;
  top: -130%;
  position: relative;
}
.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num {
  width: 100%;
  position: relative;
  height: 156px;
}
.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p {
  width: auto;
  display: table;
  font-size: 205px;
  line-height: 150px;
  font-weight: bold;
}
.timer--clock .clock-separator {
  width: auto;
  float: left;
  display: block;
  height: 156px;
  top: -130%;
}
.timer--clock .clock-separator p {
  width: auto;
  display: table;
  font-size: 205px;
  line-height: 150px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/*=================
   loop clock
*=================*/

#loop-clock-container{
  width: 100%;
  height: 90%;
  position: relative;
}

#tick-container{
  width: 100%;
  height: 95%;
  position: absolute;
  z-index: 100000;
}

#tick{
  background-color: white;
  height: 30%;
  left: 50%;
  position: absolute;
  top: 23%;
  transform-origin: 50% 100%;
  width: 3px;
}

#loop-clock{
  width: 100%;
  height: 80%;
  position: absolute;
  text-align: center;
}

#loops-remaining{
	color: white;
	width: 100%;
	height: 5%;
	text-align: center;
	/*position: fixed: bottom: 0;*/
}

#loops-remaining h3 {
  width: 100%;
  font-size: 26px;
  letter-spacing: 4px;
  text-align: center;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

#session-buttons{
	width: 100%;
	height: 8%;
	padding: 2%;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
}

.bottom-buttons button{
	width: 20%;
	height: 100%;
	margin: 0% 2% 2% 2%;
	text-align: center;
	background: transparent;
	border: 2px solid white;
	cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.bottom-buttons button:hover{
	background: rgba(255, 255, 255, 0.3);
}

#new-button{
	width: 100%;
	height: 100%;
	padding: 10%;
	text-align: center;
	color: white;
	/*position: fixed;*/
	/*bottom: 0;*/
}

#new-button button{
	width: 50%;
	height: 20%;
	margin: 0% 2% 2% 2%;
	text-align: center;
	background: transparent;
	border: 2px solid white;
	cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/*=================
       tooltip
 *=================*/

  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline;
}

.tooltip img{
  width: 2%;
  margin-left: 3px;
  margin-top: 2px;
}
/**/
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.5;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 100%;
  margin-left: -200px;  /*Use half of the width to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index:100000; 
}
